$CURIOUS_BLUE: #1999E3;
$OXFORD_BLUE: #36414E;
$POMEGRANATE: #EF3E36;
$CHRISTI: #4FC510;
$WHITE: #FFFFFF;
$SCIENCE_BLUE: #0166C7;
$AMBER: #FFBF00;
$EBONY_CLAY: #2a333d;
$BLACK: black;
$AQUA_HAZE: #f0f4f7;
$SHIP_COVE: #6a93ba;
$SAN_MARINO: #4d6bac;
$CORNFLOWER_BLUE: #4285f4;
$ATHENS_GRAY: #e9ecef;
$MISCHKA: #DCDCE0;
$MISCHKA2: #2946630f;
$ALTO: #d0cdcd;
$CALYPSO: #2c5d7f;
$TALL_POPPY:#b1352c;
$RED:red;
$SUBMARINE:#BFC9CB;
$PICTON_BlUE:#4ABAEB;
$GEYSER:#d7e1e4;
$CURIOUS_BlUE:#028cde;
$FOAM:#EFFAFD;
$DOVE_GRAY:#666;
$SCARPA_FLOW:#575758;
$TUNDORA:#484848;
$PORCELAIN:#f0f3f4;
$BRIGHT_TURQUOISE:#13B5EA;
$SAN_MARINO2:#4059AD;
$VISTA_BLUE:#97D8C4;
$SAFFRON:#F4B942;
$RADICAL_RED:#FF206E;
$CERULEAN:#028CDE;
$LOCHMARA:#0B7EC3;

$MALACHITE:#00c851;
$GOLDEN_FIZZ:#fb3;
$DODGER_BLUE:#29B6F6;
$SUNSET_ORANGE:#FF5252;
$JUNGLE_GREEN:#26a69a;
$PIZAZZ:#fb8c00;




